In [12]:
import pandas as pd
df = pd.read_csv('주요은행5개 통합 atm.CSV', encoding='cp949')
df = df[['도로명주소', '행정동']]
df

                도로명주소      행정동
0     서울 강남구 강남대로 262     도곡1동
1     서울 강남구 강남대로 318     역삼1동
2     서울 강남구 강남대로 354     역삼1동
3     서울 강남구 강남대로 388     역삼1동
4      서울 강남구 개포로 224     개포4동
...               ...      ...
2777  서울 중랑구 사가정로 375  면목제3.8동
2778  서울 중랑구 사가정로 375  면목제3.8동
2779  서울 중랑구 용마산로 502     망우본동
2780   서울 중랑구 중랑역로 51    중화제2동
2781   서울 중랑구 중랑역로 54    중화제2동

[2782 rows x 2 columns]

In [13]:
df['구'] = df.도로명주소.str.split(' ').str[1]
df = df.drop(['도로명주소'], axis=1)
df

          행정동    구
0        도곡1동  강남구
1        역삼1동  강남구
2        역삼1동  강남구
3        역삼1동  강남구
4        개포4동  강남구
...       ...  ...
2777  면목제3.8동  중랑구
2778  면목제3.8동  중랑구
2779     망우본동  중랑구
2780    중화제2동  중랑구
2781    중화제2동  중랑구

[2782 rows x 2 columns]

In [14]:
df_sort = df.sort_values(by=['구', '행정동'])

In [16]:
result = df_sort.groupby(['구', '행정동']).size()
result

구    행정동
강남구  개포2동      1
     개포4동      4
     논현1동     13
     논현2동     12
     대치1동      3
              ..
중랑구  상봉제1동     3
     상봉제2동     4
     신내1동      5
     신내2동      7
     중화제2동     5
Length: 413, dtype: int64

In [20]:
result.to_csv('서울시 행정동별 ATM 개수.csv', encoding='cp949')