In [5]:
import pandas as pd
df = pd.read_csv('서울특별시 응급실 위치 정보.CSV', encoding='cp949')
df = df[['주소', '행정동']]
df

                                       주소    행정동
0         서울특별시 성북구 고려대로 73 고려대병원 (안암동5가)    안암동
1        서울특별시 영등포구 63로 10 여의도성모병원 (여의도동)    여의동
2                서울특별시 은평구 통일로 1021 (진관동)    진관동
3                 서울특별시 관악구 관악로 242 (봉천동)    행운동
4        서울특별시 관악구 남부순환로 1449 (신림동 서울본병원)    조원동
..                                    ...    ...
58  서울특별시 영등포구 버드나루로7길 12 (영등포동7가 한강성심병원)   영등포동
59             서울특별시 성동구 왕십리로 222-1 (사근동)    사근동
60                 서울특별시 광진구 자양로 85 (자양동)  자양제1동
61         서울특별시 양천구 목동로 225 홍익병원본관 (신정동)   신정4동
62               서울특별시 금천구 시흥대로 244 (시흥동)  시흥제1동

[63 rows x 2 columns]

In [6]:
df['구'] = df.주소.str.split(' ').str[1]
df = df.drop(['주소'], axis=1)
df

      행정동     구
0     안암동   성북구
1     여의동  영등포구
2     진관동   은평구
3     행운동   관악구
4     조원동   관악구
..    ...   ...
58   영등포동  영등포구
59    사근동   성동구
60  자양제1동   광진구
61   신정4동   양천구
62  시흥제1동   금천구

[63 rows x 2 columns]

In [11]:
df_sort = df.sort_values(by=['구', '행정동'])
df_sort

        행정동    구
48     대치4동  강남구
36     도곡1동  강남구
51     역삼1동  강남구
22     일원본동  강남구
29       길동  강동구
..      ...  ...
13      광희동   중구
47     을지로동   중구
43     망우본동  중랑구
15  면목제3.8동  중랑구
27     신내1동  중랑구

[63 rows x 2 columns]

In [14]:
result = df_sort.groupby(by=['구', '행정동']).size()
result

구     행정동
강남구   대치4동       1
      도곡1동       1
      역삼1동       1
      일원본동       1
강동구   길동         1
      둔촌제2동      1
      상일제1동      1
강북구   미아동        1
      번1동        1
      인수동        1
강서구   공항동        1
      등촌제3동      1
      발산제1동      2
관악구   서원동        1
      조원동        1
      행운동        1
광진구   자양제1동      1
      화양동        1
구로구   고척제1동      1
      구로제2동      1
금천구   시흥제1동      1
노원구   공릉2동       1
      하계1동       1
도봉구   쌍문제3동      1
동대문구  청량리동       1
      회기동        1
      휘경제2동      1
동작구   신대방제2동     1
      흑석동        1
마포구   신수동        1
서대문구  신촌동        1
      홍은제2동      1
서초구   반포4동       1
성동구   사근동        1
성북구   안암동        1
송파구   가락본동       1
      풍납2동       1
양천구   목5동        1
      신월5동       1
      신정4동       1
영등포구  당산제1동      1
      대림제1동      2
      대림제2동      1
      신길제1동      1
      양평제1동      1
      여의동        1
      영등포동       2
용산구   한남동        1
은평구   갈현제1동      1
      갈현제2동      1
      진관동        1
종로구   교남동        1
      무악동        1
      이화동        1
중구    광희동        1
      을지로동       1
중랑구   망우본동       1
      면목제3.8동    1
      신내1동       1
dtype: int64

In [16]:
result.to_csv('서울시 행정동별 응급실 개수.csv', encoding='cp949')