In [63]:
import pandas as pd
df = pd.read_csv('서울시 우체국 정보 (동별) 통계.csv', encoding='cp949')

In [2]:
df = df.drop(['키값', '기관코드', '유형1', '유형2', '대표기관명', '전체기관명', '대표전화번호', '새우편번호', '주소'], axis=1)

In [27]:
df_sort = df.sort_values(by=['행정구', '행정동'])

In [64]:
df = df_sort.reset_index(drop=True)
df

         최하위기관명                     도로명주소    행정시  행정구      행정동
0     서울개포1동우체국    서울특별시 강남구 선릉로 36 (개포동)  서울특별시  강남구     개포2동
1      서울개포동우체국  서울특별시 강남구 영동대로3길 7 (개포동)  서울특별시  강남구     개포2동
2       서울영동우체국   서울특별시 강남구 학동로 212 (논현동)  서울특별시  강남구     논현2동
3    서울은마아파트우체국   서울특별시 강남구 삼성로 212 (대치동)  서울특별시  강남구     대치2동
4     서울무역센터우체국  서울특별시 강남구 영동대로 511 (삼성동)  서울특별시  강남구     삼성1동
..          ...                       ...    ...  ...      ...
222    서울면목동우체국         서울특별시 중랑구 면목로 344  서울특별시  중랑구  면목제3.8동
223     서울묵동우체국         서울특별시 중랑구 동일로 895  서울특별시  중랑구      묵2동
224     서울중랑우체국         서울특별시 중랑구 망우로 271  서울특별시  중랑구     상봉1동
225    서울신내동우체국     서울특별시 중랑구 신내로 17길 112  서울특별시  중랑구     신내2동
226    서울중화동우체국         서울특별시 중랑구 동일로 784  서울특별시  중랑구     중화1동

[227 rows x 5 columns]

In [29]:
result = df_sort.groupby(['행정구', '행정동']).size()
result

행정구  행정동
강남구  개포2동       2
     논현2동       1
     대치2동       1
     삼성1동       1
     삼성2동       2
               ..
중랑구  면목제3.8동    1
     묵2동        1
     상봉1동       1
     신내2동       1
     중화1동       1
Length: 180, dtype: int64

In [30]:
df_sort['행정동'].unique()

array(['개포2동', '논현2동', '대치2동', '삼성1동', '삼성2동', '수서동', '역삼1동', '역삼2동',
       '일원1동', '일원2동', '일원본동', '강일동', '길동', '명일1동', '상일동', '성내1동', '성내3동',
       '천호2동', '번2동', '번3동', '삼양동', '송중동', '송천동', '수유2동', '수유3동', '가양2동',
       '공항동', '등촌3동', '발산1동', '방화3동', '염창동', '화곡4동', '화곡본동', '낙성대동',
       '대학동', '미성동', '성현동', '신림동', '은천동', '행운동', '구의1동', '구의3동', '자양2동',
       '중곡2동', '화양동', '고척1동', '구로1동', '구로3동', '구로4동', '신도림동', '오류1동',
       '가산동', '독산4동', '시흥1동', '공릉1동', '상계10동', '상계1동', '상계3.4동', '상계6.7동',
       '월계2동', '월계3동', '중계2.3동', '중계본동', '하계1동', '도봉1동', '도봉2동', '방학1동',
       '쌍문2동', '쌍문3동', '창5동', '용신동', '이문1동', '장안1동', '전농1동', '노량진1동',
       '사당1동', '상도2동', '신대방2동', '흑석동', '공덕동', '도화동', '상암동', '서강동', '서교동',
       '성산1동', '성산2동', '아현동', '북가좌2동', '신촌동', '연희동', '충현동', '홍제1동',
       '반포2동', '반포본동', '방배본동', '서초1동', '서초3동', '양재1동', '양재2동', '금호2.3가동',
       '마장동', '사근동', '성수1가1동', '성수2가3동', '왕십리도선동', '용답동', '행당1동', '삼선동',
       '안암동', '월곡1동', '월곡2동', '장위2동', '정릉2동', '종암동', '가락본동', '거여1동',
       '마천1동', '문정2동', '방이2동', '삼전동', '송파1동', '오금동', '오륜동', '잠실2동',
       '잠실3동', '잠실6동', '풍납1동', '목3동', '목5동', '신월2동', '신월3동', '신정1동',
       '신정3동', '당산1동', '대림2동', '문래동', '신길5동', '신길7동', '양평2동', '여의동',
       '영등포동', '보광동', '원효로1동', '원효로2동', '이촌1동', '이태원2동', '청파동', '한강로동',
       '한남동', '후암동', '갈현2동', '대조동', '불광2동', '수색동', '응암1동', '응암3동', '진관동',
       '부암동', '사직동', '삼청동', '숭인1동', '이화동', '종로1.2.3.4가동', '종로5.6가동',
       '혜화동', '명동', '소공동', '신당동', '약수동', '운서동', '을지로동', '장충동', '회현동',
       '망우본동', '면목5동', '면목제3.8동', '묵2동', '상봉1동', '신내2동', '중화1동'],
      dtype=object)

In [58]:
dong = pd.read_csv('서울시 행정동.csv', encoding='cp949')
dong

      행정동
0     사직동
1     삼청동
2     부암동
3     평창동
4     무악동
..    ...
421  천호2동
422    길동
423   강일동
424  상일1동
425  상일2동

[426 rows x 1 columns]

In [75]:
dong_list = dong.values.tolist()

In [78]:
d = df['행정동'][226]
id = dong.index[dong['행정동'].str.contains(d)]
if d in dong['행정동']:
    print(id)

In [70]:
num_list = [n for n in range(426)]
id = 0
for i in range(len(df)):
    d = df['행정동'][i]
    if d in dong_list:
        id = dong.index[dong['행정동'].str.contains(d)]
        num_list[id] += 1
        print("1")
    else:
        num_list[id] = 0
        print("0")

0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0

In [42]:
num_list

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425]

In [8]:
result.to_csv('행정동별 우체국 개수.csv')